table {
  width: 90vw;
  height: 90vh;
  margin: 10vh auto;
}
td {
  text-align: center;
  width: 3rem;
  height: 2rem;
  border-radius: 10%;
  border: 2px gray solid;
}
td:empty {
  /* border: none; */
}
td:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
/* Ac - No  and A blank*/
tr:nth-child(7) :nth-child(3),
tr:nth-child(9) :nth-child(n + 2):nth-child(-n + 15) {
  background-color: rgba(61, 161, 160, 255);
}
/* La - Yb and a blank */
tr:nth-child(6) :nth-child(3),
tr:nth-child(8) :nth-child(n + 2):nth-child(-n + 15) {
  background-color: rgba(167, 210, 254, 255);
}
/* Hydrogen */
tr:first-child td:first-child {
  background-color: rgba(243, 255, 61, 255);
}
/* He -Rn */
tr:nth-child(n + 1):nth-child(-n + 6) :last-child {
  background-color: rgba(218, 139, 211, 255);
}
/* Uuo */
tr:nth-child(7):nth-child(7) :last-child {
  background-color: #e5cf9f;
}
/* F - At and Uup*/
tr:nth-child(n + 2):nth-child(-n + 6) :nth-child(17),
tr:nth-child(7):nth-child(7) :nth-child(15) {
  background-color: #d7b13e;
}
/* Uss*/
tr:nth-child(7):nth-child(7) :nth-child(17) {
  background-color: rgba(128, 128, 177, 255);
}
/* Lv */
tr:nth-child(n):nth-child(7) :nth-child(16) {
  background-color: rgba(218, 139, 211, 255);
}
/* O-Se */
tr:nth-child(n + 2):nth-child(-n + 4) :nth-child(16) {
  background-color: rgba(243, 255, 61, 255);
}
/* Te - Po */
tr:nth-child(n + 5):nth-child(-n + 6) :nth-child(16) {
  background-color: #ff9b69;
}
/* N - P */
tr:nth-child(n + 2):nth-child(-n + 3) :nth-child(15) {
  background-color: rgba(243, 255, 61, 255);
}
/* As -Sb */
tr:nth-child(n + 4):nth-child(-n + 5) :nth-child(15) {
  background-color: #ff9b69;
}
/* Bi */
tr:nth-child(6):nth-child(6) :nth-child(15) {
  background-color: #ffc0cd;
}
/* Bi
tr:nth-child(7):nth-child(7) :nth-child(15) {
  background-color: #d7b13e;
} */
/* C */
tr:nth-child(n + 2):nth-child(-n + 2) :nth-child(14) {
  background-color: rgba(243, 255, 61, 255);
}
/* Si - Ge*/
tr:nth-child(n + 3):nth-child(-n + 4) :nth-child(14) {
  background-color: #ff9b69;
}
/* B */
tr:nth-child(n + 2):nth-child(-n + 2) :nth-child(13) {
  background-color: #ff9b69;
}
/* Sn - Fl */
tr:nth-child(n + 5):nth-child(-n + 7) :nth-child(14) {
  background-color: #ffc0cd;
}
/* Be - Ra */
tr:nth-child(n + 3):nth-child(-n + 7) :nth-child(13) {
  background-color: #ffc0cd;
}
/* Li - Fr */
tr:nth-child(n + 2):nth-child(-n + 7) :nth-child(1) {
  background-color: rgba(128, 128, 177, 255);
}
/* Be - Ka */
tr:nth-child(n + 2):nth-child(-n + 7) :nth-child(2) {
  background-color: #e5cf9f;
}
/* Sc - Zn  Y-Cd Hf - Hg Rf-Cn*/
tr:nth-child(4) :nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(5) :nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(6) :nth-child(n + 4):nth-child(-n + 12),
tr:nth-child(7) :nth-child(n + 4):nth-child(-n + 12) {
  background-color: #3d9f4e;
}
tr :nth-child(n + 8) :nth-child(-n + 6) {
  background-color: #3d9f4e;
}
